<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="/assets/todo-list.js"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Todo List</h1>
    <div id="todo-table">
      <form action="/todo" method="post">
        <input type="text" name="item" placeholder="Enter item" />
        <button type="submit">Add item</button>
      </form>
      <ul>
        <% for(var i=0; i < todos.length; i++) { %>
          <li><%= todos[i].item %></li>
        <% } %>
      </ul>
    </div>

  </body>
</html>
